#cl1 {
    height: 45px;
    width: 45px;
    border-radius: 30px;
    border: none;
    background-color: rgb(77, 75, 75);
    color: white;
    font-size: 17px;
    border: 20px;
    
}


.cnopki1_Result {
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 240px;
    border-radius: 10px 10px 0 0 ;
    margin-bottom: none;
    margin-left: 140px;
    font-size: 19px;
    color: white;
}

#cl2 {
    height: 49px;
    width: 49px;
    border-radius: 30px;
    background-color: rgb(206, 186, 7);
    color: white;
    font-size: 17px;
    
}


.zadniFon {
    background-color: black;
    border-radius: 0 0 10px 10px ;
    width: 230px;
    height: 210px;
    display: grid; 
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
    height: auto;
    padding: 5px;
    margin-left: 140px;
    gap: 2px;
}



